<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>MySchool</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		
		<script src="/public/js/skel.min.js"></script>
		<script src="/public/js/skel-layers.min.js"></script>
		<script src="/public/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/public/css/skel.css" />
			<link rel="stylesheet" href="/public/css/style.css" />
			<link rel="stylesheet" href="/public/css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="/login">MySchool</a></h1>
				
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>MySchool Web Application</h2>
				<p>Ultimate web application for educational institutions.</p>
		
 <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <a href="/login" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off">Login</span></a>
          </form>
        </div>
        
      </div>
      
</div>
				

		
</section>

	
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						
						<section class="4u 6u$(medium) 12u$(small)">
						<ul class="tabular">
								<li>
									<h3>Address</h3>
									Tirur Forza Mall<br>
									Malappuram, Kerala 678688
								</li>
								<li>
									<h3>Mail</h3>
									<a href="#">abacaxi@abacaxi.in</a>
								</li>
								<li>
									<h3>Phone</h3>
									(+91) 000-0000
								</li>
							</ul>
						</section>
						<section class="4u$ 12u$(medium) 12u$(small)">
							<h3>Contact Us</h3>
							<ul class="icons">
								<li><a href="#" class="icon rounded fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon rounded fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon rounded fa-pinterest"><span class="label">Pinterest</span></a></li>
								<li><a href="#" class="icon rounded fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
							
						</section>
					</div>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li>
						<li>Design: <a href="#">TEMPLATED</a></li>
						<li>Images: <a href="#">Unsplash</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>
